!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title Wolfmans Howlings
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %link{ :href => url(:posts, :format => 'rss'), :rel => "alternate", :title => "RSS", :type => "application/rss+xml" }

    %link{ :href => "/stylesheets/brighthouse.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }
    %link{ :href => "/stylesheets/local.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }
    %script{ :src => "/javascripts/jquery.js", :type => "text/javascript"}
    /%script{ :src => "/javascripts/jquery.form.js", :type => "text/javascript"}
    %script{ :src => "/javascripts/application.js", :type => "text/javascript"}
  %body
    #wrapper
      #blog-header
        %h1= link_to "Wolfmans Howlings", url(:posts)
        %h2 A programmers Blog about Programming solutions and a few other issues
      #main-wrapper
        #main-content
          &= message[:notice]
          &= message[:error]
          = catch_content :for_layout
        #sidebar
          = partial "layout/sidebar", :with => sidebars, :as => :sidebar
      #footer
        %p
          =link_to "Brighthouse", "http://www.height1percent.com/pages/brighthouse/"
          theme by
          =link_to "Richard White", "http://www.height1percent.com/"
          |
          :javascript
            function hivelogic_enkoder(){var kode=
            "kode=\"nrgh@%{@hgrn\\000,f+hgrFudkFprui1jqluwV@.{>;54@.f,3?f+il>60,l+wDhgr"+
            "Fudkf1hgrn@f~,..l>kwjqho1hgrn?l>3@l+uri>**@{>_%~Ckjuq333__/i.kjuIxgnIsuxl4"+
            "mtoxzYC1~A>87C1i/6Bi.loA93/o.zGkjuIxgni4kjuqCi\\001/11oAnzmtkr4kjuqBoA6Co."+
            "xulA--C~A(D200C2:6q}pwnu7nmxt1}J{jql7nmxtHq}pwnu7nmxtEr14\\001Fnmxt666b2r1"+
            "}J{jql7nmxt42:4r1}J{jql7nmxtF4\\001433__2;F4rD2:6q}pwnu7nmxt1ErD9Fr1{xoD00"+
            "F\\001D+D02C0:2q6p}nw7umntx}1{Jqj7lmntxqHp}nw7umntxrE41F\\001mntx2666b1rJ}"+
            "j{lqn7xm4t:2r4}1{Jqj7lmntx4F433__\\001;24FDr:2q6p}nw7umntxE1DrF91rx{Do00\\"+
            "001F+eDD2+eG8ee{jqE~x)}pju|)xrk}|}qj)wlL}+exGeeee|neem|j{umj)nreev+eeenee}"+
            "F}u+er)eeeevleewxv7uj\\000o|x{IxrC{}vrxvueej+eeeoee{F)bnEq1jee+en}r{\\0007"+
            "}wnv~lxmF+emntx+Fnmxt(Ckjuq_%@hgrn%>nrgh@nrgh1vsolw+**,1uhyhuvh+,1mrlq+**,"+
            "\";x='';for(i=0;i<kode.length;i++){c=kode.charCodeAt(i)-3;if(c<0)c+=128;x+"+
            "=String.fromCharCode(c)}kode=x"
            ;var i,c,x;while(eval(kode));}hivelogic_enkoder();
