%h1 Edit Static

%p= error_messages_for @static
 
= form_for(@static, :action => url(:static, @static)) do
  = partial :form
  %p= submit "Update"
 
= link_to 'Show', url(:static, @static)
|
= link_to 'Back', url(:static)