- for post in @posts
  .post
    %h2= link_to post.title, url(:post, post)
    %p.auth
      Posted by Jim Morris
      %span.typo_date= "on " + post.created_at.to_s

    ~ post.to_html
    %p.meta
      Posted in
      = categories(post)
      %strong &nbsp;|&nbsp;
      Tags
      = tags(post)
      %strong &nbsp;|&nbsp;
      = num_comments(post)

    = link_to 'Show', url(:post, post)
    -if session.authenticated?
      |
      = link_to 'Edit', url(:edit_post,  post)
      = delete_button url(:delete_post, post), 'Delete', :class => 'delete'

%p#pagination
  Older posts:
  = paginate(@posts.current_page, @posts.page_count, :inner_window => 5)

-if session.authenticated?
  = link_to 'New', url(:new_post)