.post
  %h2= @post.title
  %p.auth
    Posted by Jim Morris
    %span.typo_date=  "on " + @post.created_at.to_s
  ~ @post.to_html

%p.meta
  Posted in
  = categories(@post)
  %strong &nbsp;|&nbsp;
  Tags
  = tags(@post)
  %strong &nbsp;|&nbsp;
  = num_comments(@post)

-if @post.allow_comments or @post.comments.size > 0
  %a{ :name => "comments" }
  %h4.blueblk Comments
  -unless @post.comments_closed
    %p{:class => "postmetadata alt"}
      %small
        %a{ :href => "#respond" } Leave a response
  %ol.comment-list#commentList
    -if @post.comments.blank?
      %li#dummy_comment{ :style => "display: none" }
    -else
      = partial "comments/show", :with => @post.comments.reverse, :as => :comment
%p{:class => "postmetadata alt"}
  %small= link_to('RSS feed for this post', url(:post, @post, :format => 'rss'), :title => 'RSS Feed')

%a{ :name => "respond" }

%p= partial("comments/comment", :with => @post, :as => :post)

-if session.authenticated?
  = link_to 'Edit', url(:edit_post,  @post)
  = delete_button url(:delete_post, @post), 'Delete', :class => 'delete'
